<!-- <div class="test-container">
  <div class="test-header">
    <div class="example-section">
      Column Visible :
        <button (click)="showAthlete(true)">Show Athlete </button>&nbsp;
          <button (click)="showAthlete(false)">Hide Athlete</button>&nbsp;
          <button (click)="showMedals(true)">Show All Medals</button>&nbsp;
          <button (click)="showMedals(false)">Hide All Medals</button>&nbsp;
    </div>

    <div class="example-section">
      Column Pinned :
          <button (click)="pinAthlete(true)">Pin Athlete</button>&nbsp;
          <button (click)="pinAthlete(false)">Unpin Athlete</button>&nbsp;
          <button (click)="pinAge(true)">Pin Age</button>&nbsp;
          <button (click)="pinAge(false)">Unpin Age</button>&nbsp;
    </div>

      <div class="example-section">
      Column State: 
          <button (click)="printState()">Print State</button>&nbsp;
          <button (click)="saveState()">Save State</button>&nbsp;
          <button (click)="restoreState()">Restore State</button>&nbsp;
          <button (click)="resetState()">Reset State</button>&nbsp;
    </div>
  </div>
</div> -->

<ag-grid-angular
#agGrid
style="width:1000px, height:400px;"
id=myGrid
class="ag-theme-balham"
[modules]="modules"
[columnDefs]="columnDefs"
[defaultColDef]="defaultColDef"
[debug]="true"
[rowData]="rowData"
(gridReady)="onGridReady($event)"></ag-grid-angular>